body{
    color: white;
    font-family:'Acme', sans-serif;
    background-image: url(dark.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
height: 80px;
background-color: black;
}
.left{
font-size: 1.5rem;
}
nav ul{
display: flex;
justify-content: center;
}
nav ul li{
list-style: none;
margin: 0 23px;
}
nav ul li a{
text-decoration: none;
color: white;
}
nav ul li a:hover{
color: rgb(124, 124, 206);
font-size: 1.04rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px -150px;
}
.firstSection > div{
    width: 30%;
}
.rightSection img{
    width: 70%; 
    margin-left: -100px ;
    margin-top: -50px; 
}
.leftSection{
    padding: 20%;
}
.leftSection .a{
    font-size:15px;
}
.leftSection .b{
    font-size:35px;
}
.leftSection .c{
    font-size:50px;
}
.leftSection .d{
    font-size:17px;
}
.leftSection .e{
    font-size:17px;
}
.leftSection .f{
    font-size:25px;
    margin: 0 30px;
}
.leftSection .button{
    padding: 40px 0;
}
.leftSection .btn{
    padding: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #13132b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;

}
@media screen and (max-width: 1350px) {

body{
    min-width: fit-content;
}
.firstSection{
    flex-direction:column-reverse;
}
nav{
    flex-direction: column;
}

.leftSection{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondSection{
    height: 141vh;
}
.rightSection{
    width: 721px !important;
    display: flex;
    justify-content: center;
}
.rightSection img{
    width: 45vw;
    margin-bottom: 73px;
}
.secondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}