 body{
            font-family: 'Acme',sans-serif;
        }
        .body{
            background: #010101;
            width: 100%;
            padding: 100px 0;
        }
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: #191919;
        
        }
        .left{
            font-size: 1.5rem;
            color: white;
        }
        nav ul{
            display: flex;
            justify-content: center;
        }
        nav ul li{
            list-style: none;
            margin: 0 23px;
        }
        nav ul li a{
            text-decoration: none;
            color: white;
        }
        nav ul li a:hover{
           color: rgb(124, 124, 206);
           font-size: 1.04rem;
        }
         .title h2{
            color: white;
            font-size: 75px;  
            width: 1130px;
            margin: 30px auto;
            text-align: center;
        }
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 400px;
        }
        .card{
            height: 365px;
            width: 335px;
            padding: 20px 35px;
            background: #191919;
            border-radius: 20px;
            margin: 15px;
            position: relative;
            overflow: hidden;
            text-align: center;
        }
        .card i{
            font-size: 50px;
            display: block;
            text-align: center;
            margin: 25px 0px;
            color: #f9004d;
        }
        h5{
            color: white;
            font-size: 23px;
            margin-bottom: 15px;
        }
        .pra p{
            color: rgba(252, 173, 252, 0.8);
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 25px;
        }
        .card .button{
            background-color: #f9004d;
            color: white;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 9px 22px;
            border-radius: 30px;
            transition: .4s;
        }
        .card .button:hover{
            background-color: transparent;
            border: 2px solid #f9004d;
            cursor: pointer;
        }
        footer{
        position: relative;
        width: 100%;
        height: 400px;
        background: #13132b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer p:nth-child(1){
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }
    footer p:nth-child(2){
        color: white;
        font-size: 17px;
        width: 500px;
        text-align: center;
        line-height: 26px;
    }
    .social{
        display: flex;
    }
    .social a{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9004d;
        border-radius: 50%;
        margin: 22px 10px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .social a:hover{
        transform: scale(1.3);
        transition: .3s;
    }
    .end{
        position: absolute;
        color: #f9004d;
        bottom: 35px;
        font-size: 14px;

    }
        @media screen and (max-width: 1350px) {
            nav{
                flex-direction: column;
            }
            
        }